<tr>
  <td><%= product.name %></td>
  <td><%= number_to_currency product.price, locale: :bn %></td>
  <td><%= product.brand.name %></td>
  <td>
    <%= link_to "Edit", edit_product_path(product),
        data: { turbo_frame: dom_id(product) },
        class: "link" %>
  </td>
</tr>
